@font-face {
  font-family: "iconfont"; /* Project id 3976705 */
  src: url('//at.alicdn.com/t/c/font_3976705_nowxxll26jh.woff2?t=1680175479084') format('woff2'),
       url('//at.alicdn.com/t/c/font_3976705_nowxxll26jh.woff?t=1680175479084') format('woff'),
       url('//at.alicdn.com/t/c/font_3976705_nowxxll26jh.ttf?t=1680175479084') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-a-rilidaka:before {
  content: "\e696";
}

.icon-yundong-1:before {
  content: "\ee42";
}

.icon-xiangxia1:before {
  content: "\e644";
}

.icon-xiangxia:before {
  content: "\e601";
}

.icon-jianshen-:before {
  content: "\e89c";
}

.icon-jirou:before {
  content: "\e63a";
}

.icon-jirou1:before {
  content: "\e643";
}

.icon-icon_rename:before {
  content: "\e658";
}

.icon-shijian1:before {
  content: "\e61c";
}

.icon-name:before {
  content: "\e60c";
}

.icon-juli:before {
  content: "\e6c5";
}

.icon-jishubiaoqian:before {
  content: "\e620";
}

.icon-jishuqi:before {
  content: "\e646";
}

.icon-rili:before {
  content: "\e64a";
}

.icon-yaling:before {
  content: "\e613";
}

.icon-fanshe:before {
  content: "\ec50";
}

.icon-qianjin:before {
  content: "\e650";
}

.icon-houtui:before {
  content: "\e657";
}

.icon-yundong-:before {
  content: "\e678";
}

.icon-jia-copy:before {
  content: "\ec51";
}

.icon-jia:before {
  content: "\e600";
}

.icon-jia-copy1:before {
  content: "\e780";
}

.icon-jilu:before {
  content: "\e69f";
}

.icon-jilu-copy:before {
  content: "\e77f";
}

.icon-person:before {
  content: "\e656";
}

.icon-home-copy:before {
  content: "\e77e";
}

.icon-home:before {
  content: "\e6b8";
}
